* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  padding: 20px;
  background-color: gray;
}

.Sketch {
  padding: 10px;
}

.Block {
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}

.Method-Selector {
  height: 100%;
  width: 25%;
  padding: 10px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
}

.Methods {
  padding: 5%;
}

.Drag-Item {
  position: absolute;
  padding: 10px;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
}
